    <a href="#" class="scrolltop">
        <span>up</span>
    </a>
    <!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
            <%=link_to(image_tag("/assets/logo.png", :alt => "Logo"), root_path, :class=>"brand scroller", :'data-section'=>"body") %>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#" class="scroller" data-section="#staff">Staff</a></li>
                    <li><a href="#" class="scroller" data-section="#classinformation">Class Information</a></li>
                    <li><a href="#" class="scroller" data-section="#footer">Contact us</a></li>
                    <!--<li><a href="blog.html">Blog</a></li>-->
                    <!--<li>
                        <a class="btn-header" href="signup.html">Sign up</a>
                    </li>
                    <li><a class="btn-header" href="signin.html">Sign in</a></li>-->
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->

    <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInDown">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <!-- slide -->
                            <div class="active item slide1">
                                <div class="row">
                                    <div class="span6">
                                        <img src="/assets/slide1.png" alt="slide1" />
                                    </div>
                                    <div class="span4">
                                        <h1>
                                            Weekly Classes, Birthday Parties, and School Holiday Camps
                                        </h1>
                                        <p>
                                            Creative Learning Atlanta offers programs for children of all ages and all ranges of ability in your local school, church, community center, or even the comfort of your own home. Classes are developed around your schedule and meet in a location most convenient to the students.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide2">
                                <div class="row">
                                    <div class="span7 animated fadeInUpBig">
                                        <h1>At Creative Learning Atlanta</h1>
                                        <p>
                                            our goal is to lay the foundation for children to have a lifelong, positive relationship with the creative arts in a manner that is both cost effective and convenient for parents. Research has shown that education in the creative arts has dramatic effects on whole child development. <br/><br/>

                                            All of our instructors are educators first. With backgrounds in early childhood education, our instructors have a unique understanding of appropriate teaching methods and have a thorough knowledge of the educational needs of young children.
                                        </p>
                                    </div>
                                    <div class="span3 animated fadeInDownBig">
                                        <img src="/assets/slide2.png" alt="slide2" />
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="/assets/slide3.png" alt="slide3" />
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="intro">
        <div class="container">
            <h1>Dance, Yoga, and Sports <br/>for children ages 1+</h1>
        </div>
    </div>

    <!-- Staff -->
    <div id="staff">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Staff</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="/assets/staff_annie.jpg" alt="annie" class="img-circle" />
                    <h3>
                        <i></i> Annie Cripe Drennan
                    </h3>
                    <p class="description">
                        <b>Miss Annie</b> is the founder of Creative Learning Atlanta, and has been working with children ages newborn-14 as a nanny, summer camp counselor, preschool teacher, dance, and music instructor for the past 20 years. She began dancing at the age of 4 as a student of the Inland School of Dance in San Bernardino, CA and carried on through college where she studied ballet and jazz with the Agnes Scott College dance department while earning a Bachelor of Arts degree. Miss Annie also has a M.S. in Educational Psychology from Georgia State University where she focused her studies on the relationship between education in the arts and whole child development.
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="/assets/staff_kala.jpg" alt="kala" class="img-circle"  />
                    <h3>
                        Kala Seidenberg
                    </h3>
                    <p class="description">
                        Kala Seidenberg is a teacher with Creative Learning Atlanta and has worked with children as a dance teacher, tutor, camp counselor, and babysitter. Hailing from Columbia, South Carolina, Kala graduated from Emory University in 2012 with B.A., highest honors, in Dance and Movement Studies and Educational Studies. She believes that dance education is not only a means of training dancers, but is a vehicle for inspiring kids to be creative thinkers, leaders, and compassionate human beings.  Kala also teaches dance at Moving in the Spirit and the Marcus Jewish Community Center of Atlanta. When she is not teaching, she is performing for local Atlanta dance company, Staibdance. Kala is thrilled to be a part of the Creative Learning Atlanta team this year. 
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="/assets/feature3.jpg" alt="feature3" class="img-circle" />
                    <h3>
                        Camille Jackson
                    </h3>
                    <p class="description">
                        Stuff about Camille here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- starts classinformation -->
    <div id="classinformation">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Class Information</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- feature list -->
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="/assets/pic1.jpg" alt="author" class="img-circle" />
                                <span class="name">Alejandra Galvan Castillo</span>
                                <span class="position">Bootstrap wizard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="classinformation">
        <div class="container">
            <div class="controls">
                <hr class="left visible-desktop">
                    <span>Classes Information</span>
                <hr class="right visible-desktop">
            </div>
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="/assets/pic1.jpg" alt="author" class="img-circle" />
                                <span class="name">Alejandra Galvan Castillo</span>
                                <span class="position">Bootstrap wizard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <!--<div class="span8">
                    <h3>From the Blog</h3>
                    <div class="blog_post">
                        <div class="row">
                            <div class="span2">
                                <a href="blog.html">
                                    <img src="/assets/pic_blog.png" alt="post image" class="img-circle" />
                                </a>
                            </div>
                            <div class="span4">
                                <a href="blog.html" class="title">
                                    Lorem Ipsum is simply dummy 
                                </a>
                                <div class="intro">
                                    There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
                                </div>
                                <div class="date">
                                    Oct 22. 2012
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="span4 contact_us">
                    <h3>Contact Us</h3>
                    <form class="form-horizontal">
                        <div class="field">
                            <div class="label_field">
                                <label for="inputName">Name</label>
                            </div>
                            <input type="text" id="inputName" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputEmail">Email</label>
                            </div>
                            <input type="text" id="inputEmail" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputCity">City</label>
                            </div>
                            <input type="text" id="inputCity" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputComment">Comments</label>
                            </div>
                            <textarea name="comments"></textarea>
                        </div>
                        <button type="submit" class="btn">Send</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row copyright">
                <div class="span5">
                    <h3>Social</h3>
                    <a href="#" class="social fb">
                        <i class="i_facebook"></i>
                    </a>
                    <!--<a href="#" class="social tw">
                        <i class="i_twitter"></i>
                    </a>
                    <a href="#" class="social yt">
                        <i class="i_youtube"></i>
                    </a>-->
                </div>
                <div class="span2 offset5 copy">
                    <p>Creative Learning Atlanta, LLC</p>
                </div>
            </div>
        </div>
    </div>

